/* General Styles */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:8px;
}

img {
	width: 100%;
	max-width: 100px;
}

ul {
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type:none;
}

li {
	margin-top: 10px;
}

/* General Text Styles */
.title {
  font-size: 20px;
}

.catchphrase {
  font-size: 16px;
	font-style: italic;
}

.price {
	font-size: 14px;
	align: right;
}

.additional {
  font-size: 14px;
}

/* Blocks */
.block {
	color: #fff;
	width: 630px;
	background: #1f2d54;
	margin: auto;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	padding: 10px;
	margin: 20px;
}

#header.block {
	background: #e8462b;
	margin-top: 0px;
	margin-bottom: 0px;
}

#content.block {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}

#section.block{
	background: #e8462b;
	margin-top: 15px;
	margin-bottom: 5px;
}

/* Sections */
#section .title{
	padding-top: 0px;
	padding-bottom: 5px;
	text-align: center;
}

/* Logo */
#logo .block {
}

#logo .title {
	float: left;
	width: 80%;
}

#logo .date {
	display: inline-block;
	vertical-align: middle;
}


/* heading block consists of two headings */
/*div#heading_block {
	background: #e8462b;
	margin-bottom: 0;
}*/

#heading .block {
	background: #e8462b;
	display:inline-block;
	font-size: 26px;
	width: 50%;
}

/* body block consists of two body's */
/*div#body_block {
	margin-top: 0px;
}*/

#body .block {
	display: inline-block;
	font-size: 14px;
}
