body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:8px;
}


.title{
  font-size: 20px;
}

#section.title{
	padding-top: 10px;
	text-align: center;

}

.cachphrase{
  font-size: 16px;
}

#price{
	font-size: 14px;
	align: right;
}

.additional{

  font-size: 14px;
}

.header{
  color: #fff;
  width: 630px;
  background: #e8462b;
  margin: auto;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 10px;

}

/* Standard blue block with content */
.block {
	color: #fff;
	width: 630px;
	background: #1f2d54;
	margin: auto;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	padding: 10px;
	margin: 20px;
}
#section.block{
	background: ##e8462b;

}

/* Articles */
#articleHeader.block {
	background: #e8462b;
	margin-top: 0px;
	margin-bottom: 0px;
}

#articleDescription {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}

/* Logo */
#logo.block {
}

div#title {
	float: left;
	width: 80%;
}

div#date {
	display: inline-block;
	vertical-align: middle;
}
/* heading block consists of two headings */
div#heading_block {
	background: #e8462b;
	margin-bottom: 0;
}

div#heading {
	background: #e8462b;
	display:inline-block;
	font-size: 26px;
}

/* body block consists of two body's */
div#body_block {
	margin-top: 0px;
}

div#body {
	display: inline-block;
	font-size: 14px;
}

ul {
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type:none;
}

li {
	margin-top: 10px;
}
