tr:hover{
    background: lightblue;
}
.selected{
    background: #98FB98;
}
.featured{
    background: salmon;
}
.clicky{
}
#tableset{
    margin-left:15px;
    width:60%;
}
.buttons{
    margin-left:15px;
}


